*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    margin: 0;
}
.bg{
    
    background-image: url("fundoTela.jpeg"); /*configuracao para adicionar imagem como background*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#cabeca{
    position: fixed;
    background-color: antiquewhite;
    width: 210px;
    top: 0;
    right: 0;
}
h2{
    text-align: center;
    font-size: 2rem;
}
.conteiner{
    position: relative;
    margin-left: 30%;
    margin-top: 10%;
    height: 400px;
    width: 480px;
    background-color: transparent;
    z-index: 1;
}
.conteudo{
    margin-top: 40px;
}
label{
    
}
.nom{
    position: relative;
    margin-left: 800px;
}
.sen{
    position: relative;
    margin-left: 1000px;
}
#nome{
    position: relative;
    margin-left: 22px;   
}
#senha{
  
}    
